<!DOCTYPE html>
<html lang="en">
<head>
    <title>ostap radio</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="../content/css/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>

<body ng-app="ostapRadioApp" layout="row" ng-cloak>


<div flex layout="row" tabIndex="-1" role="main">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                 aria-label="Show User List"
                md-is-locked-open="$mdMedia('gt-sm')">

        <md-toolbar class="md-whiteframe-z1">
            <h3>Users</h3>
        </md-toolbar>

        <md-list>
            <md-list-item>
                <md-button >
                    <md-icon md-svg-icon="../content/images/svg/avatar-1.svg" class="avatar"></md-icon>
                    Avarat name
                </md-button>
            </md-list-item>
        </md-list>

    </md-sidenav>
    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
        <md-toolbar layout="row" ng-controller="LayoutController as vm">
            <md-button id="main" class="menu" hide-gt-sm ng-click="vm.toggleLeftMenu()" aria-label="Show User List">
                <md-icon md-svg-icon="menu" ></md-icon>
            </md-button>

            <h3>Ostap Radio</h3>
            <md-button ng-click="vm.showLogin()">Login</md-button>
            <md-button ng-click="vm.showRegistration()">Register</md-button>
        </md-toolbar>
    <div flex  ng-view layout="column" ></div>
    </div>
</div>

<script type="text/javascript" src="../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../node_modules/angular-route/angular-route.js"></script>
<script type="text/javascript" src="../node_modules/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="../node_modules/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="../node_modules/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>


<script src="app.js"></script>

</body>
</html>
